{% extends "layoutBar.twig" %}

{% block content %}
  <section id="principal">
    <div class="container">
      <div class="col-lg-12">
        INDEX PAGE
      </div>
    </div>
  </section>
{% endblock %}